/.gradle/
ca.mcgill.ecse223.quoridor/.DS_Store
ca.mcgill.ecse223.quoridor/bin/.DS_Store
ca.mcgill.ecse223.quoridor/gradle/.DS_Store
ca.mcgill.ecse223.quoridor/src/.DS_Store
ca.mcgill.ecse223.quoridor/callme
